.container-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-footer{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1rem;
}

.text-footer hr{
    width: 6vw;
    border: 0;
    height: 1.90px;
    background-color: grey;
    margin-top: 1.65vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}