@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

:root {
    --color-brand-primary: #510F60;
    --color-brand-secondary: #F17E50;

    --color-neutral-lightest: #F2F2F2;
    --color-neutral-medium: rgba(133,133,133, 1);
    --color-neutral-darkest: #363636;

    --primary-brand-font: 'Montserrat', sans-serif;
}

.main-page {
  background-image: radial-gradient(circle, #81249C, var(--color-brand-primary));

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login {
  width: 40vw;
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--color-neutral-lightest);

  border-radius: 20px;
  box-shadow: -2px 2px 5px 4px rgba(0,0,0,0.2) ;
}

.access-area {
  display: flex;
  justify-content: center;

  width: 35vw;
}

.user-interaction {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-left: 1.5vw;
}

.profile {
  width: auto;
  height: auto;

  margin-top: 30px;
  margin-bottom: 50px;
}

.profile img {
  height: 150px;
  width: auto;
}

.input{
  border-radius: 10px;
  border: 1px solid var(--color-neutral-medium);

  height: 24px;
  width: 12vw;

  margin-bottom: 2.5vh;
  padding: 1vh;

  background-color: rgba(133,133,133, 0.2);

  font-family: var(--primary-brand-font);
}

input:focus {
  outline: none;
}

.container-footer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.continue-button {
  display: flex;
  align-items: center;
  justify-content: center;
}