@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

:root {
    --color-brand-primary: #510F60;
    --color-brand-secondary: #F17E50;

    --color-neutral-lightest: #F2F2F2;
    --color-neutral-medium: rgba(133,133,133, 1);
    --color-neutral-darkest: #363636;

    --font-brand-primary: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-brand-primary);
}